<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لیست علاقه مندی ها</title> 
</head>
<style>

@font-face{
 font-family: 'FontMan';
 src: url('myfont/IRANYekan.ttf') format('truetype'),
 url('myfont/IRANYekan.woff') format('woff'),
 url('myfont/IRANYekan.woff2') format('woff2');
}

body{
 font-family:FontMan;
 text-align:center;
}

</style>
<body>
    {% for item in items %}
    <p>
        <strong>{{item.item_list}}</strong>
    </p>
    {% endfor %}
</body>
</html>